html {
    width: 100%;
}

main {
    width: 100%;
    display: block;
    margin-right: 10px;
}



.left_mobile_img {
    margin: 0px 0px 0px 10px;
    height: auto;
}
.left_desktop_img {
    display: none;
}



.main {
    width: 100%;
}
.card_img {
    width: 27%;
    margin-right: 10px;
}


#left_arrow {
    display: none;
}
#right_arrow {
    display: none;
}
.left_arrow {
    margin: 0px 10px;
}
.right_arrow {
    margin: 0px 10px;
}
.arrows {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




.img_container_grid {
    margin-top: 5px;
    display: flex;
    overflow: hidden;
    z-index: 8;
    position: relative;;
}



.right {
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 10px;
}
  


.p_card {
    color: #B5B5B5;
    font-family: 'Raleway';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}
.h1_card {
    color: #000;
    font-family: 'Dela Gothic One';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.3%; /* 27.234px */
    text-transform: uppercase;
    margin: 0px;
}



.color_and_quantity {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.quantity {
    margin-left: 47px;
    display: flex;
}
#plus {
    display: none;
}
#minus {
    display: none;
}
.plus_or_minus_bttn {
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}
.plus_or_minus_bttn_container {
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}
.text_card {
    color: #000;

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    margin: 0px;
}
.text_card_quantity {
    color: #000;

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    margin: 0px 10px;
}


.size {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.input_radio_hidden {
    display: none;
}
.input_hidden {
    display: none;
}
.label_size_radio {
    margin-right: 15px;
    color: var(--black, #000);

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    display: flex;
    align-items: center;
}
.input_radio_hidden:checked + .label_size_radio {
    margin-right: 15px;
    color: var(--black, #000);

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    display: flex;
    align-items: center;
}
.desktop_only_size {
    display: none;
}
.mobile_only_size {
    display: flex;
}

.input_radio_hidden_q_a {
    display: none;
}
.q_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 49.3px;
    justify-content: space-between;
}
.q_p {
    color: var(--black, #000);

    /* Raleway / 16 bold */
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.a_text {
    width: 100%;
    color: var(--black, #000);

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%; /* 19.968px */
}
.stick_q_and_a {
    height: 0.7px;
    width: 100%;
    background-color: #000;
}




.input_radio_hidden_q_a:checked + .q_container .minus {
    display: block;
}
.input_radio_hidden_q_a:checked + .q_container .plus {
    display: none;
}


.input_radio_hidden_q_a:checked ~ .a_text {
    display: block;
}
.a_text {
    display: none;
}

.color_and_quantity {
    margin-top: 20px 0px 0px 0px;
}


.table_size {
    margin: 10px 0px 0px 0px;
}


.price {
    margin: 30px 0px 0px 0px;
}





.minus {
    display: none;
}
.plus {
    display: block;
}


.table_size {
    color: #000;

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%; /* 19.968px */
    border-bottom: 0.7px solid black;
    margin: 5px 0px 0px 0px;
}


.price {
    color: #000;

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    margin: 40px 0px 0px 0px;
}

.q_and_a_container {
    margin-top: 50px;
}

.buy_button {
    display: flex;
    width: 217px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--red, #DA1F39);
    margin-top: 10px;
}
.buy_button_p {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.h1_y_c_l {
    color: var(--black, #000);

    /* Dela / menu */
    font-family: Dela Gothic One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 50px 0px 20px 0px;
}


.y_c_l_img {
    margin: 20px 40px 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
#previous {
    display: none;
}
#next {
    display: none;
}
.previous {
    position: absolute;
    top: auto;
    bottom: auto;
    left: -33px;
}
.next {
    position: absolute;
    top: auto;
    bottom: auto;
    right: -33px;
}

.main_img_container {
    margin-right: 10px;
}

.y_c_l_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main_img_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



@media screen and (min-width: 1024px) {
    main {
        width: 100%;
        display: block;
    }
    .card  {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
        margin: 0px;
    }
    
    
    
    .left_desktop_img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        column-gap: 40px;
        row-gap: 40px;
        width: 100%;
    }
    .left_mobile_img {
        display: none;
    }
    
    
    .main {
        width: auto;
        grid-column: span 2;
        grid-row: span 2;
    }
    .card_img {
        width: 100%;
    }
    
    
    .img_container_grid {
        display: grid;
        overflow: hidden;
    }
    
    
    
    
    .right {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    
    .p_card {
        color: #B5B5B5;
        font-family: 'Raleway';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin: 0px;
    }
    .h1_card {
        color: #000;
        font-family: 'Dela Gothic One';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 151.3%; /* 27.234px */
        text-transform: uppercase;
        margin: 0px;
    }
    
    
    
    .color_and_quantity {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    .quantity {
        margin-left: 47px;
        display: flex;
    }
    #plus {
        display: none;
    }
    #minus {
        display: none;
    }
    .plus_or_minus_bttn {
        width: 21px;
        height: 21px;
        flex-shrink: 0;
    }
    .plus_or_minus_bttn_container {
        width: 21px;
        height: 21px;
        flex-shrink: 0;
    }
    .text_card {
        color: #000;
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
        margin: 0px;
    }
    .text_card_quantity {
        color: #000;
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
        margin: 0px 10px;
    }
    
    
    .size {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .input_radio_hidden {
        display: none;
    }
    .input_hidden {
        display: none;
    }
    .label_size_radio {
        margin-right: 15px;
        color: var(--black, #000);
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
    }
    .input_radio_hidden:checked + .label_size_radio {
        margin-right: 15px;
        color: var(--black, #000);
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        display: block;
    }
    
    
    .input_radio_hidden_q_a {
        display: none;
    }
    .q_container {
        width: 434px;
        display: flex;
        align-items: center;
        height: 49.3px;
        justify-content: space-between;
    }
    .q_p {
        color: var(--black, #000);
    
        /* Raleway / 16 bold */
        font-family: 'Raleway';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .a_text {
        width: 434px;
        color: var(--black, #000);
    
        /* Raleway / 12 light */
        font-family: 'Raleway';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%; /* 19.968px */
    }
    .stick_q_and_a {
        height: 0.7px;
        width: 434px;
        background-color: #000;
    }
    
    
    
    
    .input_radio_hidden_q_a:checked + .q_container .minus {
        display: block;
    }
    .input_radio_hidden_q_a:checked + .q_container .plus {
        display: none;
    }
    
    
    .input_radio_hidden_q_a:checked ~ .a_text {
        display: block;
    }
    .a_text {
        display: none;
    }
    
    
    .desktop_only_size {
        display: flex;
    }
    .mobile_only_size {
        display: none;
    }
    
    .minus {
        display: none;
    }
    .plus {
        display: block;
    }
    
    
    .table_size {
        color: #000;
    
        /* Raleway / 12 light */
        font-family: 'Raleway';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%; /* 19.968px */
        border-bottom: 0.7px solid black;
        margin: 5px 0px 0px 0px;
    }
    
    
    .price {
        color: #000;
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        margin: 40px 0px 0px 0px;
    }
    
    
    .q_and_a_container {
        margin-top: 70px;
    }
    


    .buy_button {
        display: flex;
        width: 217px;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background: var(--red, #DA1F39);
        margin-top: 10px;
    }
    .buy_button_p {
        color: #FFF;
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
}