html {
    width: 100%;
}

body {
    position: relative;
}

main {
    width: 100%;
    display: block;
    margin-right: 10px;
}

.top_part_mobile_card_only {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin-bottom: 10px;
}
.a_catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.vector_catalog {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 19px;
}
.h2_catalog {
    color: var(--black, #000);

    /* Raleway / 12 bold */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.4%; /* 19.968px */
}

.left_mobile_img {
    margin: 0px 0px 0px 10px;
    height: auto;
}
.left_desktop_img {
    display: none;
}



.main {
    width: 100%;
}
.card_img {
    width: 27%;
    margin-right: 10px;
}


#left_arrow {
    display: none;
}
#right_arrow {
    display: none;
}
.left_arrow {
    margin: 0px 10px;
}
.right_arrow {
    margin: 0px 10px;
}
.arrows {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}




.img_container_grid {
    margin-top: 5px;
    display: flex;
    overflow: hidden;
    z-index: 8;
    position: relative;;
}



.right {
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
}
  
.right_container {

    /* ЯКШО ТРЕБА РОЗТЯНУТИ НА ВСЮ ШИРИНУ */

    /* width: 100%; */

    /* ЯКШО ТРЕБА ЗРОБИТИ ПРОБІЛИ ПО БОКАХ */

    width: auto;
    margin: 0px 10px;
}

.p_card {
    color: #B5B5B5;
    font-family: 'Raleway';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}
.h1_card {
    color: #000;
    font-family: 'Dela Gothic One';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.3%; /* 27.234px */
    text-transform: uppercase;
    margin: 0px;
}



.color_and_quantity {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.quantity {
    margin-left: 47px;
    display: flex;
}
#plus {
    display: none;
}
#minus {
    display: none;
}
.plus_or_minus_bttn {
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}
.plus_or_minus_bttn_container {
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}
.text_card {
    color: #000;

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    margin: 0px;
}
.text_card_quantity {
    color: #000;

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    margin: 0px 10px;
}


.size {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.input_radio_hidden {
    display: none;
}
.input_hidden {
    display: none;
}
.label_size_radio {
    margin-right: 15px;
    color: var(--black, #000);

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    display: flex;
    align-items: center;
}
.input_radio_hidden:checked + .label_size_radio {
    margin-right: 15px;
    color: var(--black, #000);

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    display: flex;
    align-items: center;
}
.desktop_only_size {
    display: none;
}
.mobile_only_size {
    display: flex;
}

.input_radio_hidden_q_a {
    display: none;
}
.q_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 49.3px;
    justify-content: space-between;
}
.q_p {
    color: var(--black, #000);

    /* Raleway / 16 bold */
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.a_text {
    width: 100%;
    color: var(--black, #000);

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%; /* 19.968px */
}
.stick_q_and_a {
    height: 0.7px;
    width: 100%;
    background-color: #000;
}




.input_radio_hidden_q_a:checked + .q_container .minus {
    display: block;
}
.input_radio_hidden_q_a:checked + .q_container .plus {
    display: none;
}


.input_radio_hidden_q_a:checked ~ .a_text {
    display: block;
}
.a_text {
    display: none;
}

.color_and_quantity {
    margin-top: 20px 0px 0px 0px;
}


.table_size {
    margin: 10px 0px 0px 0px;
}





.minus {
    display: none;
}
.plus {
    display: block;
}


.table_size {
    color: #000;

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%; /* 19.968px */
    border-bottom: 0.7px solid black;
    margin: 5px 0px 0px 0px;
}


.price {
    color: #000;

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    margin: 30px 0px 0px 0px;
}
.price_special {
    color: #000;

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    margin: 5px 0px 0px 0px;
}
.no_product {
    color: var(--red, #DA1F39);

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%; /* 19.968px */
    height: 20px;
    margin-top: 5px;
}

.q_and_a_container {
    margin-top: 50px;
}

.buy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 50px;
    gap: 10px;
    flex-shrink: 0;
    background: var(--red, #DA1F39);
    margin-top: 10px;
}

.buy_button_special {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 50px;
    gap: 10px;
    flex-shrink: 0;
    background: var(--red, #DA1F39);
    margin-top: 10px;
}



.buy_button_p {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.you_can_like_mobile {
    display: block;
}

.h1_y_c_l {
    color: var(--black, #000);

    /* Dela / menu */
    font-family: 'Dela Gothic One';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 50px 0px 20px 0px;
}


.y_c_l_img {
    margin: 20px 33px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previous {
    display: none;
}
#next {
    display: none;
}
.previous {
    position: absolute;
    top: auto;
    bottom: auto;
    left: -33px;
}
.next {
    position: absolute;
    top: auto;
    bottom: auto;
    right: -33px;
}

.main_img_container {
    margin-right: 10px;
}

.y_c_l_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main_img_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.y_c_l_block_text {
    width: calc(100% - 66px);
    padding: 0px 33px;
    margin-bottom: 50px;
}


.block_p {
    color: var(--black, #000);

    /* Raleway / paragraph */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%; /* 23.266px */
    margin: 10px 0px 0px 0px;
}

.block_h3 {
    color: var(--black, #000);

    /* Raleway/paragraph bold */
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.2%; /* 23.268px */
    margin: 5px 0px 0px 0px;
}


.y_c_l_container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.you_can_like_desktop {
    display: none;
}



@media screen and (min-width: 1024px) {
    main {
        width: 100%;
        display: block;
    }

    .top_part_mobile_card_only {
        display: none;
    }

    .card  {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
        margin: 0px 0px 130px 0px;
    }
    
    
    
    .left_desktop_img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        column-gap: 40px;
        row-gap: 40px;
        width: 100%;
    }
    .left_mobile_img {
        display: none;
    }
    
    
    .main {
        width: auto;
        grid-column: span 2;
        grid-row: span 2;
    }
    .card_img {
        width: 100%;
    }
    
    
    .img_container_grid {
        display: grid;
        overflow: hidden;
    }
    
    
    
    
    .right {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .right_container {
        width: auto;
    }
    
    .p_card {
        color: #B5B5B5;
        font-family: 'Raleway';
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin: 0px;
    }
    .h1_card {
        color: #000;
        font-family: 'Dela Gothic One';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 151.3%; /* 27.234px */
        text-transform: uppercase;
        margin: 0px;
    }
    
    
    
    .color_and_quantity {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    .quantity {
        margin-left: 47px;
        display: flex;
    }
    #plus {
        display: none;
    }
    #minus {
        display: none;
    }
    .plus_or_minus_bttn {
        width: 21px;
        height: 21px;
        flex-shrink: 0;
    }
    .plus_or_minus_bttn_container {
        width: 21px;
        height: 21px;
        flex-shrink: 0;
    }
    .text_card {
        color: #000;
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
        margin: 0px;
    }
    .text_card_quantity {
        color: #000;
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
        margin: 0px 10px;
    }
    
    
    .size {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .input_radio_hidden {
        display: none;
    }
    .input_hidden {
        display: none;
    }
    .label_size_radio {
        margin-right: 15px;
        color: var(--black, #000);
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
    }
    .input_radio_hidden:checked + .label_size_radio {
        margin-right: 15px;
        color: var(--black, #000);
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        display: block;
    }
    
    
    .input_radio_hidden_q_a {
        display: none;
    }
    .q_container {
        width: 434px;
        display: flex;
        align-items: center;
        height: 49.3px;
        justify-content: space-between;
    }
    .q_p {
        color: var(--black, #000);
    
        /* Raleway / 16 bold */
        font-family: 'Raleway';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .a_text {
        width: 434px;
        color: var(--black, #000);
    
        /* Raleway / 12 light */
        font-family: 'Raleway';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%; /* 19.968px */
    }
    .stick_q_and_a {
        height: 0.7px;
        width: 434px;
        background-color: #000;
    }
    
    
    
    
    .input_radio_hidden_q_a:checked + .q_container .minus {
        display: block;
    }
    .input_radio_hidden_q_a:checked + .q_container .plus {
        display: none;
    }
    
    
    .input_radio_hidden_q_a:checked ~ .a_text {
        display: block;
    }
    .a_text {
        display: none;
    }
    
    
    .desktop_only_size {
        display: flex;
    }
    .mobile_only_size {
        display: none;
    }
    
    .minus {
        display: none;
    }
    .plus {
        display: block;
    }
    
    
    .table_size {
        color: #000;
    
        /* Raleway / 12 light */
        font-family: 'Raleway';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%; /* 19.968px */
        border-bottom: 0.7px solid black;
        margin: 5px 0px 0px 0px;
    }
    
    
    .price {
        color: #000;
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        margin: 40px 0px 0px 0px;
    }
    .price_special {
        color: #000;
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        margin: 10px 0px 0px 0px;
    }
    .no_product {
        color: var(--red, #DA1F39);

        /* Raleway / 12 light */
        font-family: 'Raleway';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.4%; /* 19.968px */
        height: 20px;
        margin-top: 10px;
    }





    .q_and_a_container {
        margin-top: 70px;
    }
    
    .buy_button_p {
        color: #FFF;
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }


    
    .you_can_like_mobile {
        display: none;
    }

    .you_can_like_desktop {
        display: block;
        margin-left: 80px;
    }

    .y_c_l_text_container {
        display: flex;
        justify-content: space-between;
    }

    #left_arrow_y_c_l {
        display: none;
    }
    #right_arrow_y_c_l {
        display: none;
    }
    .left_arrow_y_c_l {
        margin: 0px 20px 0px 0px;
    }
    .right_arrow_y_c_l {
        margin: 0px 80px 0px 0px;
    }
    .arrows_y_c_l {
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .y_c_l_img {
        width: 100%;
        /* height: 415px; */
        margin: 0px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url(../images/background_img.png); */
    }

    .h1_y_c_l {
        color: var(--black, #000);
    
        /* Dela / menu */
        font-family: 'Dela Gothic One';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
    }

    .y_c_l_img .img_real{
        width: 100%;
        height: 100%;
    }
    
    .y_c_l_block {
        transition: 0.3s;
    }
    
    .y_c_l_block_text {
        width: 100%;
        padding: 0px;
        margin-bottom: 0px;
    }
    
    .y_c_l_block:hover > .y_c_l_img .img_real {
        width: calc(100% - 60px);
        height: calc(100% - 60px)
    }
    
    .block_p {
        color: var(--black, #000);
    
        /* Raleway / paragraph */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 166.188%; /* 23.266px */
        margin: 10px 0px 0px 0px;
        width: 100%;
        height: 46px;

    }
    
    .block_h3 {
        color: var(--black, #000);
    
        /* Raleway/paragraph bold */
        font-family: 'Raleway';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.2%; /* 23.268px */
        margin: 10px 0px 0px 0px;
    }
    
    
    .y_c_l_container_grid {
        display: grid;
        grid-template-columns: 27% 27% 27% 27%;
        overflow: hidden;
        column-gap: 50px;
    }
    
    .img_real {
        position: absolute;
    }

    .y_c_l_scroll {
        margin-top: 30px;
        margin-bottom: 130px;
        height: 3px;
        width: calc(100% - 80px);
        background: rgba(218, 31, 57, 0.30);
    }

    .y_c_l_scroller {
        height: 3px;
        width: 390px;
        background: var(--red, #DA1F39);
    }
}