footer {
  background: #f4f4f4;
  height: 500px;
}

.logo_footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer_icons {
  display: flex;
  flex-direction: row;
}

.footer_li_icons {
  display: flex;
  flex-direction: row;
}

.mobile_only_block {
  display: block;
}

.mobile_vector {
  display: block;
}

.desktop_only {
  display: none;
}

.desktop_vector {
  display: none;
}

.footer_company {
  display: none;
}

.vector_scroll {
  position: absolute;
  left: auto;
  right: auto;
  top: -23px;
}

.logo_footer {
  background-image: url(../images/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 132px;
  height: 35px;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer_grid {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
}

.footer_li {
  list-style-type: none;
  margin: 10px 5px;
}

.footer_li_special {
  list-style-type: none;
  margin: 20px 5px 10px;
}

.footer_red {
  height: 23px;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  color: #da1f39;
  font-weight: 700;
  line-height: 166.4%;
}

.footer_black {
  height: 23px;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  color: var(--black, #000);
  font-weight: 300;
  line-height: 166.188%;
}

.footer_ul {
  padding: 0;
  margin: 15px 5px 10px;
}

.footer_ul_bottom {
  padding: 0;
  margin: 0 5px 15px;
}

.footer_li_date {
  margin: 5px 5px 15px;
  display: flex;
}

.underlined {
  text-decoration: underline;
}

.footer_icons {
  margin: 5px;
  height: 22px;
  width: 23px;
  justify-content: center;
  align-items: center;
}

.mobile_only {
  display: flex;
}

.space_time_work {
  margin-right: 22px;
}

@media screen and (min-width: 1024px) {
  .desktop_only_flex {
    display: flex;
  }

  .desktop_only {
    display: block;
  }

  .desktop_vector {
    display: block;
  }

  .mobile_only {
    display: none;
  }

  .mobile_only_block {
    display: none;
  }

  .mobile_vector {
    display: none;
  }

  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 3fr;
  }

  .logo_footer {
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 184px;
    height: 32px;
    flex-shrink: 0;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .footer_icons {
    margin-right: 15px;
  }

  .footer_grid {
    margin-left: 80px;
    margin-right: 80px;
  }

  .footer_company {
    display: block;
    list-style-type: none;
    margin: 64px 5px 10px;
  }

  .space_time_work {
    margin-right: 20px;
  }

  .vector_scroll {
    position: absolute;
    left: auto;
    right: auto;
    top: -41px;
  }

  .logo_footer_container {
    position: relative;
  }
}

@media screen and (min-width: 334px) {
  footer {
    background: #f4f4f4;
    height: 410px;
  }
}
