.top_part {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.top_part_container {
    margin: 10px 0px  10px 80px;
    display: flex;
    align-items: center;
    height: 20px;
}
.top_part_menu_p {
    color: var(--black, #000);

    /* Raleway / 12 bold */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 166.4%;
}
.top_part_menu_horizontal_stick {
    width: 25px;
    height: 0.7px;
    flex-shrink: 0;
    background: var(--black, #000);
    margin: 0px 5px;
}
.top_part_menu_p_light {
    color: var(--black, #000);

    /* Raleway / 12 light */
    font-family: 'Raleway';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.4%;
    margin: 0px;
}