@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Black.woff") format("woff"),
        url("./fonts/Raleway-Black.ttf") format("truetype"),
        url("./fonts/Raleway-Black.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-BlackItalic.woff") format("woff"),
        url("./fonts/Raleway-BlackItalic.ttf") format("truetype"),
        url("./fonts/Raleway-BlackItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Bold.woff") format("woff"),
        url("./fonts/Raleway-Bold.ttf") format("truetype"),
        url("./fonts/Raleway-Bold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-BoldItalic.woff") format("woff"),
        url("./fonts/Raleway-BoldItalic.ttf") format("truetype"),
        url("./fonts/Raleway-BoldItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-ExtraBold.woff") format("woff"),
        url("./fonts/Raleway-ExtraBold.ttf") format("truetype"),
        url("./fonts/Raleway-ExtraBold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-ExtraBoldItalic.woff") format("woff"),
        url("./fonts/Raleway-ExtraBoldItalic.ttf") format("truetype"),
        url("./fonts/Raleway-ExtraBoldItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-ExtraLight.woff") format("woff"),
        url("./fonts/Raleway-ExtraLight.ttf") format("truetype"),
        url("./fonts/Raleway-ExtraLight.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-ExtraLightItalic.woff") format("woff"),
        url("./fonts/Raleway-ExtraLightItalic.ttf") format("truetype"),
        url("./fonts/Raleway-ExtraLightItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Italic.woff") format("woff"),
        url("./fonts/Raleway-Italic.ttf") format("truetype"),
        url("./fonts/Raleway-Italic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Light.woff") format("woff"),
        url("./fonts/Raleway-Light.ttf") format("truetype"),
        url("./fonts/Raleway-Light.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-LightItalic.woff") format("woff"),
        url("./fonts/Raleway-LightItalic.ttf") format("truetype"),
        url("./fonts/Raleway-LightItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Medium.woff") format("woff"),
        url("./fonts/Raleway-Medium.ttf") format("truetype"),
        url("./fonts/Raleway-Medium.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-MediumItalic.woff") format("woff"),
        url("./fonts/Raleway-MediumItalic.ttf") format("truetype"),
        url("./fonts/Raleway-MediumItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Regular.woff") format("woff"),
        url("./fonts/Raleway-Regular.ttf") format("truetype"),
        url("./fonts/Raleway-Regular.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-SemiBold.woff") format("woff"),
        url("./fonts/Raleway-SemiBold.ttf") format("truetype"),
        url("./fonts/Raleway-SemiBold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-SemiBoldItalic.woff") format("woff"),
        url("./fonts/Raleway-SemiBoldItalic.ttf") format("truetype"),
        url("./fonts/Raleway-SemiBoldItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Thin.woff") format("woff"),
        url("./fonts/Raleway-Thin.ttf") format("truetype"),
        url("./fonts/Raleway-Thin.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-ThinItalic.woff") format("woff"),
        url("./fonts/Raleway-ThinItalic.ttf") format("truetype"),
        url("./fonts/Raleway-ThinItalic.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: 100;
}